<!-- Content -->
<section id="content">
  <!-- Content Row -->
  <section class="content-row content-row-color content-row-clouds">
    <div class="container">
      <header class="content-header content-header-small content-header-uppercase">
        <h1>
          Свържи се с нас
        </h1>
        <p>
          изпрати ни съобщение и ние ще ви отговорим в най-кратък срок
        </p>
      </header>
    </div>
  </section>
  <!-- Content Row -->
  <section class="content-row">
    <div class="container">
      <div class="column-row align-center">
        <div class="column-50">
          <form class="form-full-width" #f="ngForm" (ngSubmit)="sendMessage(f)">
            <div class="form-row">
              <div class="column-row">
                <div class="column-50">
                  <label for="form-name">Име</label>
                  <input 
                  id="form-name"
                  required
                  type="text" 
                  name="name"
                  >
                </div>
                <div class="column-50">
                  <label for="form-email">Имейл адрес</label>
                  <input 
                  required
                  id="form-email" 
                  type="text" 
                  name="email"
                  >
                </div>
              </div>
            </div>
            <div class="form-row">
              <label for="form-subject">Тема</label>
              <input 
              required
              id="form-subject" 
              type="text" 
              name="subject"
              >
            </div>
            <div class="form-row">
              <label for="form-message">Съобщение</label>
              <textarea 
              required
              id="form-message" 
              name="message" 
              cols="10" 
              rows="10"
              ></textarea>
            </div>
            <div class="form-row">
              <button class="button button-secondary" [disabled]="f.invalid"><i class="fas fa-envelope icon-left"></i>Изпрати ни съобщение</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Content Row -->
</section>