<!-- Content -->
<section id="content">
  <!-- Content Row -->
  <section class="content-row content-row-color content-row-clouds">
    <div class="container">
      <header class="content-header content-header-small content-header-uppercase">
        <h1>
          About FOCUSnet
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </header>
    </div>
  </section>
  <!-- Content Row -->
  <section class="content-row">
    <div class="container">
      <header class="content-header">
        <h2>
          Management Team
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </p>
      </header>
      <div class="column-row text-align-center">
        <div class="column-33">
          <img width="256" src="/assets/uploads/ssss.png">
          <h3>
            Христо Йорданов
          </h3>
          <p>
            <span class="text-color-gray">Director of Operations</span>
            <span class="group align-center">
              <a href="#email"><i class="fas fa-envelope"></i></a>
              <a href="#twitter"><i class="fab fa-twitter"></i></a>
              <a href="#linkedin"><i class="fab fa-linkedin"></i></a>
            </span>
          </p>
        </div>
        <div class="column-33">
          <img width="256" src="/assets/uploads/ssss.png">
          <h3>
            Христо Йорданов
          </h3>
          <p>
            <span class="text-color-gray">Lead Cloud Architect</span>
            <span class="group align-center">
              <a href="#email"><i class="fas fa-envelope"></i></a>
              <a href="#twitter"><i class="fab fa-twitter"></i></a>
              <a href="#linkedin"><i class="fab fa-linkedin"></i></a>
            </span>
          </p>
        </div>
        <div class="column-33">
          <img width="256" src="/assets/uploads/ssss.png">
          <h3>
            Христо Йорданов
          </h3>
          <p>
            <span class="text-color-gray">Head of Product Design</span>
            <span class="group align-center">
              <a href="#email"><i class="fas fa-envelope"></i></a>
              <a href="#twitter"><i class="fab fa-twitter"></i></a>
              <a href="#linkedin"><i class="fab fa-linkedin"></i></a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Content Row -->
  <section class="content-row content-row-gray">
    <div class="container">
      <header class="content-header">
        <h2>
          Нашата локация
        </h2>
      </header>
      <div class="tab-group">
        <div class="tab-item" data-title="Cloudhub USA">
          <div class="column-row align-center-bottom">
            <div class="column-33">
              <h3>
                Focus <small class="text-color-gray">net</small>
              </h3>
              <p>
                Sveti Ivan Rilski 25B<br>
                Varna, 9009
              </p>
              <p>
                +1 800 123 456
              </p>
              <p>
                <a href="#sales-us">email@email.com</a><br>
                <a href="#billing-us">email@email.com</a><br>
                <a href="#support-us">email@email.com</a>
              </p>
              <p>
                <small class="text-color-gray">Please schedule an appointment with our sales team if you're interested in visiting.</small>
              </p>
            </div>
            <div class="column-66">
              <div class="network-map">
                <ul>
                  <li style="top: 40%; right: 47%;">
                    <a class="iframe-overlay" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.6723084250093!2d27.891896860509487!3d43.21636203006523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4547e0964a839%3A0x4b44bf875aeec639!2sFocus.net!5e0!3m2!1sbg!2sbg!4v1534276688988"><span class="label-top-right">Варна</span></a>
                  </li>
                </ul>
                <img src="/assets/img/layout/map-dark.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Content Row -->
  <section class="content-row content-row-color">
    <div class="container">
      <header class="content-header">
        <h2>
          Имате въпроси ?
        </h2>
        <p>
          Ние винаги ще се радваме да отговорим на вашите въпроси.Просто кликнете на бутона отдолу и попълнете формата<br><br>
          <a class="button button-secondary" href="contact.html">
            <i class="fas fa-briefcase icon-left"></i>Пиши ни !
          </a>
        </p>
      </header>
    </div>
  </section>
</section>