<!-- Footer -->
<footer id="footer">
  <section class="footer-primary">
    <div class="container">
      <div class="column-row">
        <div class="column-33">
          <h5>
            About FOCUSnet
          </h5>
          <p>
            Ние предлагаме интернет свързаност на достъпна цена като предоставяме качество на нашите потребители
            <br><br>
            Sveti Ivan Rilski 25B<br>
            Varna, 9009
            <br>
            088 747 1744 
          </p>
        </div>
        <div class="column-66">
          <div class="column-row align-right-top">
            <div class="column-25">
              <h5>
                Connect
              </h5>
              <ul class="list-style-icon">
                <li>
                  <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Microsoft/?fb_dtsg_ag=AdxvD04Yg-ca5Fepq_hMoIdnDHqkoH3U3Y_X7ysvvLnFGQ%3AAdyzchPKb5tUOMlMI_TBaKPBFrEnq5aBuuqh-slq1DqsAA"><i class="fab fa-facebook"></i>Facebook</a>
                </li>
                <li>
                  <a href="https://twitter.com/Microsoft?lang=bg" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i>Twitter</a>
                </li>
              </ul>
            </div>
            <div class="column-25">
              <h5>
                Products
              </h5>
              <ul>
                <li>
                  <a routerLink="price-and-services">IP телевизия</a>
                </li>
                <li>
                  <a routerLink="price-and-services">Интернет </a>
                </li>	
              </ul>
            </div>
            <div class="column-25">
              <h5>
                Resources
              </h5>
              <ul>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
                <li>
                  <a href="#">Terms of Service</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-secondary">
    <div class="container">
      <p>
        Copyright 2017 &copy; Focus IT Solutions. All rights reserved.<br>
      </p>
    </div>
  </section>
</footer>