<!-- Header -->
<header id="header" class="header-dynamic header-shadow-scroll">
  <div class="container">
    <a class="logo" href="home.html">
      <img src="/assets/img/logos/header-light.png" alt="">
    </a>
    <nav>
      <ul class="nav-primary">
          <li>
              <a href="home.html">Начало</a>
            </li>
        <li>
          <a href="price-and-services.html">Цени и услуги</a>
        </li>
        <li>
          <a href="coverage.html">Покритие</a>
        </li>
        <li>
          <a href="network.html">Мрежа</a>
        </li>
        <li>
          <a href="about.html">Информация</a>
          <ul>
            <li>
              <a href="blog.html">Блог</a>
            </li>
            <li>
              <a href="contact.html">За нас</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="button button-secondary" href="client-login.html">
            <i class="fas fa-lock icon-left"></i>Login
          </a>
        </li>
      </ul>
      <ul class="nav-secondary">
        <li>
          <a href="contact.html"><i class="fas fa-phone icon-left"></i>088 747 1744</a>
        </li>
        <li>
          <a href="contact.html"><i class="fas fa-comment icon-left"></i>Свържи се с нас</a>
        </li>
        <li>
          <a href="service-status.html"><i class="fas fa-check icon-left"></i>Статус на услугата</a>
        </li>
      </ul>
    </nav>
  </div>
</header>