<!-- Header -->
<header id="header" class="header-dynamic header-shadow-scroll">
  <div class="container">
    <a class="logo" href="/">
      <img src="/assets/img/logos/header-light.png" alt="">
    </a>
    <nav>
      <ul class="nav-primary">
          <li>
              <a href="/">Начало</a>
            </li>
        <li>
          <a href="/price-and-services">Цени и услуги</a>
        </li>
        <li>
          <a routerLink="coverage">Покритие</a>
        </li>
        <li>
          <a routerLink="network">Мрежа</a>
        </li>
        <li>
          <a href="/about">Информация</a>
          <ul>
            <li>
              <a routerLink="about/blog">Блог</a>
            </li>
            <li>
              <a routerLink="about/contacts">Контакти</a>
            </li>
          </ul>
        </li>
        <li *ngIf="!authService.isAuthenticated()">
          <a class="button button-secondary" routerLink="auth/signin">
            <i class="fas fa-lock icon-left"></i>Вход
          </a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <a class="button button-secondary" (click)="logout()">
            <i class="fa fa-power-off"></i> Изход
          </a>
        </li>
      </ul>
      <ul class="nav-secondary">
        <li>
          <a routerLink="about/contacts"><i class="fas fa-phone icon-left"></i>088 747 1744</a>
        </li>
        <li>
          <a routerLink="about/contacts"><i class="fas fa-comment icon-left"></i>Свържи се с нас</a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <a routerLink="status"><i class="fas fa-check icon-left"></i>Статус на услугата</a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <a routerLink="article-create"><i class="fas fa-book icon-left"></i>Напиши статия</a>
        </li>
      </ul>
    </nav>
  </div>
</header>