<!-- Content -->
<section id="content">
  <!-- Content Row -->
  <section class="content-row content-row-color content-row-clouds">
    <div class="container">
      <header class="content-header content-header-small content-header-uppercase">
        <h1>
          Цени и услуги
        </h1>
        <p>
        </p>
      </header>
    </div>
  </section>
  <!-- Content Row -->
  <section class="content-row">
    <div class="container">
      <div class="tab-group tab-group-switch-style">
        <div class="tab-item" data-title="Интернет">
          <div class="column-row align-center-bottom">
            <div class="column-33">
              <div class="product-box">
                <div class="product-header">
                  <h4>
                    Start
                  </h4>
                </div>
                <div class="product-price">
                  15 лв<span class="term">/месец</span>
                </div>
                <div class="product-features">
                    <ul>
                      <li>
                        Скорост на Download - <strong>50 Mbps</strong>
                      </li>
                      <li>
                          Скорост на Upload - <strong>50 Mbps</strong>
                        </li>
                        <li>
                            Статичен <strong>IP</strong> Адрес
                        </li>
                        </ul>
                  </div>
                  <div class="product-order">
                      <a class="button button-secondary" href="create-internet.html">
                        <i class="fas fa-shopping-cart icon-left"></i>Направи заявка
                      </a>
                    </div>
              </div>
            </div>
            <div class="column-33">
              <div class="product-box product-box-popular">
                <div class="product-popular">
                  Най-популярен
                </div>
                <div class="product-header">
                  <h4>
                    Standard
                  </h4>
                </div>
                <div class="product-price">
                  20 лв<span class="term">/месец</span>
                </div>
                <div class="product-features">
                    <ul>
                      <li>
                        Скорост на Download - <strong>80 Mbps</strong>
                      </li>
                      <li>
                          Скорост на Upload - <strong>80 Mbps</strong>
                        </li>
                        <li>
                            Статичен <strong>IP</strong> Адрес
                        </li>
                    </ul>
                  </div>
                  <div class="product-order">
                      <a class="button button-secondary" href="create-internet.html">
                        <i class="fas fa-shopping-cart icon-left"></i>Направи заявка
                      </a>
                    </div>
              </div>
            </div>
            <div class="column-33">
                <div class="product-box">
                  <div class="product-header">
                    <h4>
                      Premium
                    </h4>
                  </div>
                  <div class="product-price">
                    30 лв<span class="term">/ месец</span>
                  </div>
                  <div class="product-features">
                      <ul>
                        <li>
                          Скорост на Download - <strong>100 Mbps</strong>
                        </li>
                        <li>
                            Скорост на Upload - <strong>100 Mbps</strong>
                          </li>
                        <li>
                            Статичен <strong>IP</strong> Адрес
                        </li>
                      </ul>
                    </div>
                  <div class="product-order">
                    <a class="button button-secondary" href="create-internet.html">
                      <i class="fas fa-shopping-cart icon-left"></i>Направи заявка
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="tab-item" data-title="Телевизия">
          <div class="column-row align-center-bottom">
            <div class="column-33">
              <div class="product-box">
                <div class="product-header">
                  <h4>
                    Start
                  </h4>
                </div>
                <div class="product-price">
                  25 лв<span class="term">/месец</span>
                </div>
                <div class="product-features">
                    <ul>
                      <li>
                        Скорост на Download - <strong>50 Mbps</strong>
                      </li>
                      <li>
                          Скорост на Upload - <strong>50 Mbps</strong>
                        </li>
                        <li>
                          Брой канали - <strong>200</strong>
                      </li>
                        <li>
                            Статичен <strong>IP</strong> Адрес
                        </li>
                        </ul>
                  </div>
                <div class="product-order">
                  <a class="button button-secondary" href="create-tv.html">
                    <i class="fas fa-shopping-cart icon-left"></i>Направи заявка
                  </a>
                </div>
              </div>
            </div>
            <div class="column-33">
              <div class="product-box product-box-popular">
                <div class="product-popular">
                  Най-популярен
                </div>
                <div class="product-header">
                  <h4>
                    Standard
                  </h4>
                </div>
                <div class="product-price">
                  30 лв<span class="term">/месец</span>
                </div>
                <div class="product-features">
                    <ul>
                      <li>
                        Скорост на Download - <strong>80 Mbps</strong>
                      </li>
                      <li>
                          Скорост на Upload - <strong>80 Mbps</strong>
                        </li>
                        <li>
                          Брой канали - <strong>200</strong>
                      </li>
                        <li>
                            Статичен <strong>IP</strong> Адрес
                        </li>
                    </ul>
                  </div>
                  <div class="product-order">
                      <a class="button button-secondary" href="create-tv.html">
                        <i class="fas fa-shopping-cart icon-left"></i>Направи заявка
                      </a>
                    </div>
              </div>
            </div>
            <div class="column-33">
                <div class="product-box">
                  <div class="product-header">
                    <h4>
                      Premium
                    </h4>
                  </div>
                  <div class="product-price">
                    40 лв<span class="term">/ месец</span>
                  </div>
                  <div class="product-features">
                      <ul>
                        <li>
                          Скорост на Download - <strong>100 Mbps</strong>
                        </li>
                        <li>
                            Скорост на Upload - <strong>100 Mbps</strong>
                          </li>
                          <li>
                            Брой канали - <strong>200</strong>
                        </li>
                        <li>
                            Статичен <strong>IP</strong> Адрес
                        </li>
                      </ul>
                    </div>
                    <div class="product-order">
                        <a class="button button-secondary" href="create-tv.html">
                          <i class="fas fa-shopping-cart icon-left"></i>Направи заявка
                        </a>
                      </div>
                </div>
              </div>
          </div>
        </div>
        <div class="tab-item" data-title="Сервиз">
          <div class="column-row align-center-bottom">
              <div class="column-80">
                <table class="table-layout-fixed">
                  <thead>
                    <tr>
                      <th>Услуга</th>
                      <th>Цена </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="tbl-inside-heading">
                        <th colspan="2"><span>Категория: Лаптопи</span></th>
                    </tr>
                    <tr>
                        <th>Диагностика на лаптоп (безплатно за стоки в гаранция, закупени от Ardes.bg)</th>
                        <td>25 лв.</td>
                    </tr>
                    <tr>
                        <th>Гаранционна профилактика на лаптоп (пълна)</th>
                        <td>40 лв.</td>
                    </tr>
                    <tr>
                        <th>Негаранционна профилактика на лаптоп (пълна)</th>
                        <td>50 лв.</td>
                    </tr>
                    <tr>
                        <th>Профилактика на залят лаптоп</th>
                        <td>70 лв.</td>
                    </tr>
                    <tr>
                        <th>Външно почистване на лаптоп</th>
                        <td>10 лв.</td>
                    </tr>
                    <tr>
                        <th>Монтаж, демонтаж или смяна на компонент (за някои компоненти цената може да е различна)</th>
                        <td>25 лв.</td>
                    </tr>
                    <tr>
                        <th>Подмяна на дисплей лаптоп</th>
                        <td>60 лв.</td>
                    </tr>
                    <tr>
                        <th>Подмяна на захранваща букса на лаптоп (включва профилактика, без цена на буксата)</th>
                        <td>60 лв.</td>
                    </tr>
                    <tr>
                        <th>Преинсталация на лицензиран Windows(вкл. драйвери и основни безплатни програми)</th>
                        <td>50 лв.</td>
                    </tr>
                    <tr>
                        <th>Преинсталация на лицензиран Windows(вкл. драйвери без безплатни програми)</th>
                        <td>45 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталация на Linux (без настройване)</th>
                        <td>25 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталация на безплатни програми (Firefox; Skype; Adobe Reader; Adobe Flash; MS Essentials и др. безплатни по желание на клиента)</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталация на MS Office (единствено след предоставяне на лицензен ключ)</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталация на Libre Office (безплатен офис пакет)</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталация на драйвер</th>
                        <td>12 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталация на всички драйвери (Vista, Windows 7, Windows 8/8.1, Windows 10)</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Почистване от компютърни вируси</th>
                        <td>30 лв.</td>
                    </tr>
                    <tr>
                        <th>Разделяне на твърд диск на дялове и форматиране</th>
                        <td>15 лв.</td>
                    </tr>
                    <tr>
                        <th>Обновяване на BIOS</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Настройки на BIOS</th>
                        <td>10 лв.</td>
                    </tr>
                    <tr>
                        <th>Друг вид ремонт на лаптоп</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr class="tbl-inside-heading">
                        <th colspan="2"><span>Категория: Настолни компютри</span></th>
                    </tr>
                    <tr>
                        <th>Диагностика на настолен компютър (безплатно за стоки в гаранция, закупени от Ardes.bg)</th>
                        <td>30 лв.</td>
                    </tr>
                    <tr>
                        <th>Профилактика на настолен компютър</th>
                        <td>30 лв.</td>
                    </tr>
                    <tr>
                        <th>Монтаж или смяна на компонент (видео карта, хард диск, памет, записващо устройство, захранване)</th>
                        <td>25 лв.</td>
                    </tr>
                    <tr>
                        <th>Смяна на кондензатори (цена за 1 бр.)</th>
                        <td>7 лв.</td>
                    </tr>
                    <tr>
                        <th>Сглобяване на компютърна конфигурация</th>
                        <td>48 лв.</td>
                    </tr>
                    <tr>
                        <th>Преинсталация на лицензиран Windows(вкл. драйвери и основни безплатни програми)</th>
                        <td>50 лв.</td>
                    </tr>
                    <tr>
                        <th>Преинсталация на лицензиран Windows(вкл. драйвери без безплатни програми)</th>
                        <td>45 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталация на Linux (без настройване)</th>
                        <td>25 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталация на безплатни програми (Firefox; Skype; Adobe Reader; Adobe Flash; MS Essentials и др. безплатни по желание на клиента)</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталация на MS Office (единствено след предоставяне на лицензен ключ)</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталиране на Libre Office (безплатен офис пакет)</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталация на драйвер</th>
                        <td>12 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталация на всички драйвери (Vista, Windows 7, Windows 8/8.1, Windows 10)</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Почистване от компютърни вируси</th>
                        <td>30 лв.</td>
                    </tr>
                    <tr>
                        <th>Разделяне на твърд диск на дялове и форматиране</th>
                        <td>15 лв.</td>
                    </tr>
                    <tr>
                        <th>Обновяване на BIOS</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Настройки на BIOS</th>
                        <td>10 лв.</td>
                    </tr>
                    <tr>
                        <th>Друг вид ремонт на настолен компютър</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr class="tbl-inside-heading">
                        <th colspan="2"><span>Категория: Възстановяване и съхранение на информация</span></th>
                    </tr>
                    <tr>
                        <th>Запазване информацията от здрав диск - до 1 GB</th>
                        <td>15 лв.</td>
                    </tr>
                    <tr>
                        <th>Запазване информацията от здрав диск - от 1 GB до 10 GB</th>
                        <td>22 лв.</td>
                    </tr>
                    <tr>
                        <th>Запазване информацията от здрав диск - от 10 GB до 100 GB</th>
                        <td>45 лв.</td>
                    </tr>
                    <tr>
                        <th>Запазване информацията от здрав диск - от 100 GB до 500 GB</th>
                        <td>65 лв.</td>
                    </tr>
                    <tr>
                        <th>Запазване информацията от повреден диск - до 1 GB</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Запазване информацията от повреден диск - от 1 GB до 10 GB</th>
                        <td>35 лв.</td>
                    </tr>
                    <tr>
                        <th>Запазване информацията от повреден диск - от 10 GB до 100 GB</th>
                        <td>65 лв.</td>
                    </tr>
                    <tr>
                        <th>Възстановяване на информация (изтрити файлове) - до 10 GB</th>
                        <td>28 лв.</td>
                    </tr>
                    <tr>
                        <th>Възстановяване на информация (изтрити файлове) - до 100 GB</th>
                        <td>44 лв.</td>
                    </tr>
                    <tr>
                        <th>Конфигуриране на RAID масив</th>
                        <td>от 25 до 60 лв.</td>
                    </tr>
                    <tr>
                        <th>Възстановяване, извличане или съхранение на информация от RAID масив</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr class="tbl-inside-heading">
                        <th colspan="2"><span>Категория: Сървъри и Видеонаблюдение</span></th>
                    </tr>
                    <tr>
                        <th>Диагностика на сървър</th>
                        <td>50 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталиране на Windows Server (стандартно)</th>
                        <td>100 лв.</td>
                    </tr>
                    <tr>
                        <th>Инсталиране на GNU/Linux Server (стандартно)</th>
                        <td>100 лв.</td>
                    </tr>
                    <tr>
                        <th>Конфигуриране на RDP</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr>
                        <th>Конфигуриране на FTP</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr>
                        <th>Конфигуриране на VPN</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr>
                        <th>Конфигуриране на Exchange</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr>
                        <th>Конфигуриране на Storage</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr>
                        <th>Ремонт на сървър</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr>
                        <th>Видеонаблюдение (изграждане, поддръжка, настройки)</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr>
                        <th>Други успуги</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr class="tbl-inside-heading">
                        <th colspan="2"><span>Категория: Допълнителни услуги</span></th>
                    </tr>
                    <tr>
                        <th>Диагностика на монитор, принтер, проектор (безплатно за стоки в гаранция, закупени от Ardes.bg)</th>
                        <td>25 лв.</td>
                    </tr>
                    <tr>
                        <th>Диагностика на компонент(безплатно за стоки в гаранция, закупени от Ardes.bg)</th>
                        <td>25 лв.</td>
                    </tr>
                    <tr>
                        <th>Профилактика на видеокарта</th>
                        <td>20 лв.</td>
                    </tr>
                    <tr>
                        <th>Спешна поръчка(за спешно разглеждане на случая се доплаща към цената)</th>
                        <td>25 лв.</td>
                    </tr>
                    <tr>
                        <th>Такса обслужване на платен ремонт от оторизиран сервиз (заплаща се само при извършване на ремонта)</th>
                        <td>30 лв.</td>
                    </tr>
                    <tr>
                        <th>Посещение на място (1-ви час)</th>
                        <td>50 лв.</td>
                    </tr>
                    <tr>
                        <th>Посещение на място (заплаща се за всеки следващ след 1-вия час)</th>
                        <td>30 лв.</td>
                    </tr>
                    <tr>
                        <th>Посещение на сервизен специалист в извънработно време - на час</th>
                        <td>65 лв.</td>
                    </tr>
                    <tr>
                        <th>Проекти по поръчка и корпоративни клиенти</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr>
                        <th>Изграждане на локална мрежа</th>
                        <td>по договаряне</td>
                    </tr>
                    <tr>
                        <th>Абонамент “месечно обслужване на фирми”</th>
                        <td>по договаряне</td>
                    </tr>
                </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Content Row -->
  <section class="content-row">
    <div class="container">
      <div class="column-row">
        <div class="column-33">
          <h3>
            <i class="fas fa-rocket icon-feature-inline"></i>Висока Скорост
          </h3>
          <p>
            Ние Ви предлагаме високи скорости на достъпни цени, като гарантираме ,че ще получавате скоростта за която плащате.
          </p>
        </div>
        <div class="column-33">
          <h3>
            <i class="fas fa-cloud icon-feature-inline"></i>Мониторинг
          </h3>
          <p>
            Ние ви предоставяме възможността да проверите в реално време ,кога вашия компютър или лаптоп са готови или кога изтича 
          </p>
        </div>
        <div class="column-33">
          <h3>
            <i class="fas fa-shield-alt icon-feature-inline"></i>Сигурност
          </h3>
          <p>
            Ние Ви уверяваме,че вашите данни ще бъдат напълно защитени и съхранявани отговорно.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Content Row -->
  <section class="content-row content-row-color">
    <div class="container">
      <header class="content-header">
        <h2>
          Имате въпроси ??
        </h2>
        <p>
          С радост ще отговорим на въпросите от контактната форма<br><br>
          <a class="button button-secondary" href="contact.html">
            <i class="fas fa-envelope icon-left"></i>Пиши ни !
          </a>
        </p>
      </header>
    </div>
  </section>
</section>