<section id="content">
<section class="content-row content-row-color">
    <div class="container">
      <header class="content-header">
        <h2>
          Имате въпроси ?
        </h2>
        <p>
          Ние винаги ще се радваме да отговорим на вашите въпроси.Просто кликнете на бутона отдолу и попълнете формата<br><br>
          <a class="button button-secondary" href="contact.html">
            <i class="fas fa-briefcase icon-left"></i>Пиши ни !
          </a>
        </p>
      </header>
    </div>
  </section>
</section>