<div>
  <!-- Notification -->
  <section id="notification" data-dismissible="true" data-title="" data-expires="">
			<div class="container">
				<p>
					Интернет и телевизия на цени от 25 лв.  <a class="text-margin-left" routerLink="price-and-services">Виж още<i class="fas fa-angle-right icon-right"></i></a>
				</p>
			</div>
		</section>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-border-top">
					<div class="content-slider animate-container-slide animate-background-fade" data-nav="true" data-rotation="5">
						<a class="slide" data-title="Интернет + TV" href="price-and-services.html">
							<div class="container text-align-center">
								<header class="content-header content-header-large content-header-uppercase">
									<h1>
										<mark>Телевизия и интернет</mark>
									</h1>
									<p>
										На промоционални цени от<span class="text-color-secondary"> 25 лв /месец</span>
									</p>
								</header>
							</div>
							<div class="content-background content-background-light">
								<img src="/assets/uploads/stock.jpg" />
							</div>
						</a>
						<a class="slide" data-title="Бизнес услуги" href="business-support.html">
							<div class="container text-align-center">
								<header class="content-header content-header-large content-header-uppercase">
									<h1>
										<mark>Решения</mark> за вашия бизнес
									</h1>
									<p>
											Ние ще ви предложим най-добрите решения за вашия <span class="text-color-secondary">бизнес</span>
									</p>
								</header>
							</div>
							<div class="content-background content-background-light">
								<img src="/assets/uploads/img2.jpg" alt="">
							</div>
						</a>
						<a class="slide" data-title="Сервиз" href="client-support.html">
							<div class="container text-align-center">
								<header class="content-header content-header-large content-header-uppercase">
									<h1>
										<mark>Отлична</mark> Сервизна поддръжка
									</h1>
									<p>
										Ние ще се погрижим да получите най-доброто обслужване на най-добри <span class="text-color-secondary">цени</span>
									</p>
								</header>
								<img width="610" src="/assets/uploads/ha.png">
							</div>
							<div class="content-background content-background-light">
								<img src="/assets/uploads/img3.png" alt="">
							</div>
						</a>
					</div>
				</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<header class="content-header">
						<h2>
							Enterprise Cloud Platform
						</h2>
						<p>
							Deploy your service infrastructure on our fully redundant, high performance cloud platform and benefit from its high reliability, security and enterprise feature set.
						</p>
					</header>
					<div class="column-row align-center-bottom text-align-center">
						<div class="column-33">
							<i class="fas fa-rocket icon-feature"></i>
							<h3>
								High Performance
							</h3>
							<p>
								We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection.
							</p>
							<p>
								<a href="network.html">Anycast Network<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-cloud icon-feature"></i>
							<h3>
								Fully Redundant
							</h3>
							<p>
								Our cloud platform offers a 99.99% SLA uptime guarantee with full hardware and network redundancy to keep your services online.
							</p>
							<p>
								<a href="network.html">Cloud Platform<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-shield-alt icon-feature"></i>
							<h3>
								Secure Infrastructure
							</h3>
							<p>
								All datacenters are Tier 4 certified and provide advanced fire and intrusion protection combined with enterprise networking hardware.
							</p>
							<p>
								<a href="network.html">Global Datacenters<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
					</div>
					<div class="column-row align-center-bottom text-align-center">
						<div class="column-33">
							<i class="fas fa-sync-alt icon-feature"></i>
							<h3>
								Instant Activation
							</h3>
							<p>
								Your ordered product will be automatically and instantly activated as long as you are using a verified PayPal account for your purchase.
							</p>
							<p>
								<a href="home.html">Cloud Products<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-life-ring icon-feature"></i>
							<h3>
								Dedicated Support
							</h3>
							<p>
								Our dedicated in-house support team is available 24/7 to answer all technical difficulties you may encounter with any of our products.
							</p>
							<p>
								<a href="contact.html">Support Portal<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-cog icon-feature"></i>
							<h3>
								Powerful Automation
							</h3>
							<p>
								Our simple and intuitive developer API allows you to manage and extend existing products, as well as submitting new orders without interaction.
							</p>
							<p>
								<a href="features.html">Developer Guide<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<header class="content-header">
						<h2>
							Интернет услуги
						</h2>
						<p>
							Разгледайте нашите предложения за дома и офиса.Ние ви гарантираме 100% качество на услугата
						</p>
					</header>
					<div class="column-row align-center-bottom">
						<div class="column-33">
							<div class="product-box">
								<div class="product-header">
									<h4>
										Start
									</h4>
								</div>
								<div class="product-price">
									15 лв<span class="term">/месец</span>
								</div>
								<div class="product-features">
										<ul>
											<li>
												Скорост на Download - <strong>50 Mbps</strong>
											</li>
											<li>
												Скорост на Upload - <strong>50 Mbps</strong>
											</li>
											<li>
												Статичен <strong>IP</strong> Адрес
                      </li>
										</ul>
									</div>
								<div class="product-order">
									<a class="button button-secondary" href="products-developer-cloud.html#cloud-sandbox-4g-nyc-us-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</div>
							</div>
						</div>
						<div class="column-33">
							<div class="product-box product-box-popular">
								<div class="product-popular">
									Най-популярен
								</div>
								<div class="product-header">
									<h4>
										Standard
									</h4>
								</div>
								<div class="product-price">
									20 лв<span class="term">/месец</span>
								</div>
								<div class="product-features">
										<ul>
											<li>
												Скорост на Download - <strong>80 Mbps</strong>
											</li>
											<li>
													Скорост на Upload - <strong>80 Mbps</strong>
												</li>
												<li>
														Статичен <strong>IP</strong> Адрес
                        </li>
										</ul>
									</div>
								<div class="product-order">
									<a class="button button-secondary" href="products-developer-cloud.html#cloud-sandbox-8g-nyc-us-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>направи заявка
									</a>
								</div>
							</div>
						</div>
						<div class="column-33">
								<div class="product-box">
									<div class="product-header">
										<h4>
											Premium
										</h4>
									</div>
									<div class="product-price">
										30 лв<span class="term">/ месец</span>
									</div>
									<div class="product-features">
											<ul>
												<li>
													Скорост на Download - <strong>100 Mbps</strong>
												</li>
												<li>
														Скорост на Upload - <strong>100 Mbps</strong>
													</li>
												<li>
														Статичен <strong>IP</strong> Адрес
                        </li>
                        </ul>
										</div>
									<div class="product-order">
										<a class="button button-secondary" href="products-developer-cloud.html#cloud-sandbox-4g-nyc-us-monthly">
											<i class="fas fa-shopping-cart icon-left"></i>Направи заявка
										</a>
									</div>
								</div>
							</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<header class="content-header">
						<h2>
							What Our Customers Say
						</h2>
						<p>
							We've helped hundreds of clients with custom server solutions, enabling them to operate much more efficient and secure than they ever did before.
						</p>
					</header>
					<div class="column-row align-center-bottom">
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									My customers didn't experience a single minute of downtime since I moved my services over to Cloudhub.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Peter Miller</a><br>
									<small>Chemical Industries</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									Cloudhub helped me with a professional custom server solution when my business was so rapidly growing my old system couldn't handle the load anymore.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>John Smith</a><br>
									<small>HQ Streaming Company</small>
								</p>
							</div>
						</div>
						<div class="column-33">
							<div class="testimonial">
								<p class="testimonial-content">
									By switching to Cloudhub's Anycast DNS system we were able to decrease the worldwide app latency immensely.
								</p>
								<p class="testimonial-author">
									<a href="#twitter"><i class="fab fa-twitter icon-left"></i>Mary Fonda</a><br>
									<small>SAAS Billing Solutions</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-color">
				<div class="container">
					<header class="content-header">
						<h2>
							Looking for a custom solution?
						</h2>
						<p>
							Our technicians can provide you with the best custom made solutions on the market, no matter whether you're a small business or large enterprise.<br><br>
							<a class="button button-secondary" href="contact.html">
								<i class="fas fa-envelope icon-left"></i>Get in touch
							</a>
						</p>
					</header>
				</div>
			</section>
		</section>
</div>