<div>
  <!-- Notification -->
  <section id="notification" data-dismissible="true" data-title="" data-expires="">
			<div class="container">
				<p>
					Интернет и телевизия на цени от 25 лв.  <a class="text-margin-left" routerLink="price-and-services">Виж още<i class="fas fa-angle-right icon-right"></i></a>
				</p>
			</div>
		</section>
		<!-- Content -->
		<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-border-top">
					<div class="content-slider animate-container-slide animate-background-fade" data-nav="true" data-rotation="5">
						<a class="slide" data-title="Интернет + TV" href="price-and-services.html">
							<div class="container text-align-center">
								<header class="content-header content-header-large content-header-uppercase">
									<h1>
										<mark>Телевизия и интернет</mark>
									</h1>
									<p>
										На промоционални цени от<span class="text-color-secondary"> 25 лв /месец</span>
									</p>
								</header>
							</div>
							<div class="content-background content-background-light">
								<img src="/assets/uploads/stock.jpg" />
							</div>
						</a>
						<a class="slide" data-title="Бизнес услуги" href="business-support.html">
							<div class="container text-align-center">
								<header class="content-header content-header-large content-header-uppercase">
									<h1>
										<mark>Решения</mark> за вашия бизнес
									</h1>
									<p>
											Ние ще ви предложим най-добрите решения за вашия <span class="text-color-secondary">бизнес</span>
									</p>
								</header>
							</div>
							<div class="content-background content-background-light">
								<img src="/assets/uploads/img2.jpg" alt="">
							</div>
						</a>
						<a class="slide" data-title="Сервиз" href="client-support.html">
							<div class="container text-align-center">
								<header class="content-header content-header-large content-header-uppercase">
									<h1>
										<mark>Отлична</mark> Сервизна поддръжка
									</h1>
									<p>
										Ние ще се погрижим да получите най-доброто обслужване на най-добри <span class="text-color-secondary">цени</span>
									</p>
								</header>
								<img width="610" src="/assets/uploads/ha.png">
							</div>
							<div class="content-background content-background-light">
								<img src="/assets/uploads/img3.png" alt="">
							</div>
						</a>
					</div>
				</section>
			<!-- Content Row -->
			<section class="content-row">
				<div class="container">
					<header class="content-header">
						<h2>
							Lorem ipsum dolor sit amet
						</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</header>
					<div class="column-row align-center-bottom text-align-center">
						<div class="column-33">
							<i class="fas fa-rocket icon-feature"></i>
							<h3>
								Excepteur sint
							</h3>
							<p>
								ipsum dolor sit amet, consectetur adipiscing elit ipsum usto odio dignissimos ducimus qui blanditiis praesentium  dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit
							</p>
							<p>
								<a href="">Link<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-cloud icon-feature"></i>
							<h3>
								At vero eos et accusamus et iusto
							</h3>
							<p>
									At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
							</p>
							<p>
								<a href="">Link<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-shield-alt icon-feature"></i>
							<h3>
									Sed ut perspiciatis unde omnis
							</h3>
							<p>
									Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							</p>
							<p>
								<a href="">Link<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
					</div>
					<div class="column-row align-center-bottom text-align-center">
						<div class="column-33">
							<i class="fas fa-sync-alt icon-feature"></i>
							<h3>
									Quis autem vel eum iure reprehenderit
							</h3>
							<p>
									Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
							</p>
							<p>
								<a href="">Link<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-life-ring icon-feature"></i>
							<h3>
									Ut enim ad minim veniam,
							</h3>
							<p>
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
							</p>
							<p>
								<a href="">Link<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
						<div class="column-33">
							<i class="fas fa-cog icon-feature"></i>
							<h3>
									Et harum quidem rerum facilis
							</h3>
							<p>
									Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
							</p>
							<p>
								<a href="">Link<i class="fas fa-angle-right icon-right"></i></a>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
			<section class="content-row content-row-gray">
				<div class="container">
					<header class="content-header">
						<h2>
							Интернет услуги
						</h2>
						<p>
							Разгледайте нашите предложения за дома и офиса.Ние ви гарантираме 100% качество на услугата
						</p>
					</header>
					<div class="column-row align-center-bottom">
						<div class="column-33">
							<div class="product-box">
								<div class="product-header">
									<h4>
										Start
									</h4>
								</div>
								<div class="product-price">
									15 лв<span class="term">/месец</span>
								</div>
								<div class="product-features">
										<ul>
											<li>
												Скорост на Download - <strong>50 Mbps</strong>
											</li>
											<li>
												Скорост на Upload - <strong>50 Mbps</strong>
											</li>
											<li>
												Статичен <strong>IP</strong> Адрес
                      </li>
										</ul>
									</div>
								<div class="product-order">
									<a class="button button-secondary" href="products-developer-cloud.html#cloud-sandbox-4g-nyc-us-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>Order Now
									</a>
								</div>
							</div>
						</div>
						<div class="column-33">
							<div class="product-box product-box-popular">
								<div class="product-popular">
									Най-популярен
								</div>
								<div class="product-header">
									<h4>
										Standard
									</h4>
								</div>
								<div class="product-price">
									20 лв<span class="term">/месец</span>
								</div>
								<div class="product-features">
										<ul>
											<li>
												Скорост на Download - <strong>80 Mbps</strong>
											</li>
											<li>
													Скорост на Upload - <strong>80 Mbps</strong>
												</li>
												<li>
														Статичен <strong>IP</strong> Адрес
                        </li>
										</ul>
									</div>
								<div class="product-order">
									<a class="button button-secondary" href="products-developer-cloud.html#cloud-sandbox-8g-nyc-us-monthly">
										<i class="fas fa-shopping-cart icon-left"></i>направи заявка
									</a>
								</div>
							</div>
						</div>
						<div class="column-33">
								<div class="product-box">
									<div class="product-header">
										<h4>
											Premium
										</h4>
									</div>
									<div class="product-price">
										30 лв<span class="term">/ месец</span>
									</div>
									<div class="product-features">
											<ul>
												<li>
													Скорост на Download - <strong>100 Mbps</strong>
												</li>
												<li>
														Скорост на Upload - <strong>100 Mbps</strong>
													</li>
												<li>
														Статичен <strong>IP</strong> Адрес
                        </li>
                        </ul>
										</div>
									<div class="product-order">
										<a class="button button-secondary" href="products-developer-cloud.html#cloud-sandbox-4g-nyc-us-monthly">
											<i class="fas fa-shopping-cart icon-left"></i>Направи заявка
										</a>
									</div>
								</div>
							</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
		</section>
</div>