<!-- Content -->
<section id="content">
  <!-- Content Row -->
  <section class="content-row content-row-color content-row-clouds">
    <div class="container">
      <header class="content-header content-header-small content-header-uppercase">
        <h1>
          Статус на услугата
        </h1>
        <p>
          Тук може да проверите колко време остава до края на услугата
        </p>
      </header>
      <div class="column-row align-center">
        <div class="column-66">
          <div class="tab-group tab-group-switch-style">
            <div class="tab-item" data-title="Primary Locations">
              <table class="table-layout-fixed">
                <thead>
                  <tr>
                    <th>Пакет</th>
                    <th>IP Адрес</th>
                    <th>Статус</th>
                    <th>Оставащо време</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Стандард</td>
                    <td>98.54.255.2</td>
                    <td class="text-color-success">Активен<i class="fas fa-check-circle icon-right"></i></td>
                    <td>22 дена</td>
                  </tr>
                  <tr>
                    <td>Стандард</td>
                    <td>98.54.255.2</td>
                    <td class="text-color-success">Активен<i class="fas fa-check-circle icon-right"></i></td>
                    <td>12 дена</td>
                  </tr>
                  <tr>
                    <td>Стандард</td>
                    <td>98.54.255.2</td>
                    <td class="text-color-success">Активен<i class="fas fa-check-circle icon-right"></i></td>
                    <td>22 дена</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="column-row align-center">
        <div class="column-50 text-align-center">
          <p>
            <small class="text-color-gray">Информацията за статуса се опреснява на всеки 24 часа.Услугата бива прекратена 14 часа след изтичане на оставащото време</small>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Content Row -->
  <section class="content-row">
    <div class="container">
      <div class="column-row align-center">
        <div *ngIf="messages" class="column-66">
          <h3>
            Съобщения
          </h3>
          <div *ngFor="let message of messages | async">
              <hr>
              <dl>
                <dt>{{message.date}}</dt>
                <dd>
                  <p>
                    {{message.content}}
                  </p>
                </dd>
              </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Content Row -->
</section>