<section id="content">
    <!-- Content Row -->
    <section class="content-row content-row-color content-row-clouds">
      <div class="container">
        <header class="content-header content-header-small content-header-uppercase">
          <h1>
            Вход в системата
          </h1>
          <p>
            
          </p>
        </header>
      </div>
    </section>
    <!-- Content Row -->
    <section class="content-row">
      <div class="container">
        <div class="column-row align-center">
          <div class="column-50">
            <form class="form-full-width" #f="ngForm" (ngSubmit)="login(f)">
              <div class="form-row">
                <label for="form-email">Имейл Адрес</label>
                <input 
                required 
                id="form-email" 
                type="text" 
                name="email"
                ngModel
                >
              </div>
              <div class="form-row">
                <label for="form-password">Парола</label>
                <input
                required
                id="form-password" 
                type="password" 
                name="password"
                ngModel
                >
              </div>
              <div class="form-row">
									<a routerLink="/auth/signup">Все още нямате регистрация ?<i class="fas fa-angle-right icon-right"></i></a>
								</div>
              <div class="form-row">
                <button class="button-secondary" [disabled]="f.invalid"><i class="fas fa-lock icon-left"></i>Потвърди</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Content Row -->
    <section class="content-row content-row-gray">
      <div class="container">
        <div class="column-row align-center">
          <div class="column-50 text-align-center">
            
          </div>
        </div>
      </div>
    </section>
  </section>