<!-- Content -->
<section id="content">
  <!-- Content Row -->
  <section class="content-row content-row-color content-row-clouds">
    <div class="container">
      <header class="content-header content-header-small content-header-uppercase">
        <h1>
          Focus IT Solutions Блог
        </h1>
        <p>
          
        </p>
      </header>
    </div>
  </section>

  <!-- Article -->
      <section *ngFor="let article of articles | async" class="content-row content-row-border-top">
          <div class="container">
            <article class="blog-article blog-article-center">
              <header class="blog-article-header">
                <h2>
                  <a routerLink="{{article.id}}">{{article.name}}</a>
                </h2>
              </header>
              <div class="blog-article-content">
                <img src="{{article.imagePath}}" alt="{{article.name}}"/>
                <p>
                  {{ (article.description.length>200)? (article.description | slice:0:200)+' .....':(article.description) }}
                </p>
                <p>
                  <a class="button" routerLink="/about/blog/{{article.id}}">Виж Още<i class="fas fa-chevron-right icon-right"></i></a>
                </p>
              </div>
            </article>
          </div>
        </section>

  <!-- PAGING -->
  <section class="content-row content-row-gray">
    <div class="container">
      <ul class="pagination">
      </ul>
    </div>
  </section>
  <!-- PAGING Example
  <section class="content-row content-row-gray">
    <div class="container">
      <ul class="pagination">
        <li class="directional hidden">
          <a href="#blog-page-previous"><i class="fas fa-chevron-left"></i></a>
        </li>
        <li class="active">
          <a href="#blog-page-1">1</a>
        </li>
        <li>
          <a href="#blog-page-2">2</a>
        </li>
        <li>
          <a href="#blog-page-3">3</a>
        </li>
        <li>
          <a href="#blog-page-4">4</a>
        </li>
        <li>
          <a href="#blog-page-5">5</a>
        </li>
        <li class="directional">
          <a href="#blog-page-next"><i class="fas fa-chevron-right"></i></a>
        </li>
      </ul>
    </div>
  </section>
  <!-- Content Row -->
</section>